<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//unpkg.com/keycloak-js"></script>
    <script src="//unpkg.com/es-module-shims"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "vue-router": "https://unpkg.com/vue-router@4.0.5/dist/vue-router.esm-browser.js"
          }
        }
    </script>
    <script>
        const keycloak = new Keycloak({
            url: 'http://keycloak.127.0.0.1.nip.io:8080',
            realm: 'petstore',
            clientId: 'petstore'
        });
        keycloak.init();
    </script>
    <script type="module">
        import { createApp } from 'vue'
        import { createRouter, createWebHashHistory } from 'vue-router'

        const Home = { template: '<h1 style="margin-bottom: -50px; color: white; position: relative; margin-left: 12px;">Home</h1><img src="puppy.jpg">' }
        const Shop = { template: '<h1>Shop</h1>' }
        const Admin = { template: '<h1>Admin</h1>' }

        const routes = [
            { path: '/', component: Home },
            {
                path: '/Shop',
                component: Shop
            },
            {
                path: '/Admin',
                component: Admin
            },
            { path: '/:pathMatch(.*)*', redirect: '/' },
        ]

        const router = createRouter({
            history: createWebHashHistory(),
            routes,
        })

        createApp({
            data() {
                return {
                    authenticated: keycloak.authenticated,
                }
            },
            computed: {
                username() {
                    if (keycloak.tokenParsed) {
                        return keycloak.tokenParsed.preferred_username;
                    }
                },
                isAdmin() {
                    if (keycloak.tokenParsed) {
                        return keycloak.tokenParsed.groups.includes("admin");
                    }
                },
                tokenParsed() {
                    if (keycloak.tokenParsed) {
                        return keycloak.tokenParsed;
                    }
                },
                token() {
                    if (keycloak.token) {
                        return keycloak.token;
                    }
                }
            },
        }).use(router).mount('#app')
    </script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
            <div class="container">
                <a class="navbar-brand" style="font-weight: bold">Pet Store</a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/">Home</router-link>
                        </li>
                        <li class="nav-item" v-if="authenticated">
                            <router-link class="nav-link" to="/shop">Shop</router-link>
                        </li>
                        <li class="nav-item" v-if="authenticated && isAdmin">
                            <router-link class="nav-link" to="/admin">Admin</router-link>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li v-if="!authenticated"><a class="nav-link" onclick="keycloak.login()" href="#">Sign In</a>
                        </li>
                        <li v-if="authenticated"><a class="nav-link" onclick="keycloak.logout()" href="#">Sign Out ({{username}})</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mb-5">
            <router-view></router-view>
        </div>
        <div v-if="token" class="container mb-5">
            <h5 class="mb-2">JWT Token</h5>
            <div>Copy for use <code>curl</code>:</div>
            <div class="bg-light p-2"><code>curl -v -H &quot;Authorization: Bearer {{token}}&quot; petstore.127.0.0.1.nip.io:8080/api/pets</code></div>
        </div>
        <div v-if="tokenParsed" class="container mb-5">
            <h5 class="mb-2">Decoded Access Token</h5>
            <div>Expires: {{new Date(tokenParsed.exp*1000)}}</div>
            <div class="bg-light p-2"><code>{{tokenParsed}}</code></div>
        </div>
    </div>
</body>
</html>